
.lista-bottone{
	margin-left:30%;
}
.tabella_nome{
	width:30%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td{
  border: 1px  #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: lightblue;
}
.tabella{
	margin-top:8%;
}
.bottone-Tabella{
	backgrond-color:rgba(0,0,0,0); 

}
